# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
# import panda
import pandas as pd

In [4]:
#read dataset
ins_df=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
ins_df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [5]:
#Identify the dimensions of the dataset by determining the number of rows and columns it contains.
ins_df.shape

(4008, 11)

In [8]:
#Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable.
#You should also provide suggestions for fixing any incorrect data types.
ins_df.dtypes
#number of Open complaints changing to int before we need to clean 
#ins_df['Number of Open Complaints']=ins_df['Number of Open Complaints'].astype(int)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [10]:
# Identify the number of unique values for each column and determine which columns appear to be categorical.
ins_df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [55]:
# You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
ins_df["ST"].unique()   #ST is cities, discrete and nominal categorical column.It needs to be in one format, full name or shortcut.
ins_df['ST']=ins_df['ST'].map({
    'Cali' :'California',
    'AZ' : 'Arizona',
    'WA' : 'Washington'
})

In [14]:
ins_df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [19]:
ins_df.GENDER.unique()  #It has multiple format, female or male, nominal and non-numerical

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [23]:
ins_df['GENDER'].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [ ]:
ins_df["Education"].unique() #It has duplicates, nominal and discrete

In [ ]:
ins_df["Number of Open Complaints"].unique() #It has duplicates, nominal and numerical

In [59]:
ins_df["Policy Type"].unique() #it is nominal,discrete and non-numerical

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [ ]:
ins_df["Vehicle Class"].unique() #it is nominal,discrete and non-numerical

In [ ]:
ins_df.describe()

-- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand 
-- the central tendency and distribution of the data for numerical columns.
-- You should also provide your conclusions based on these summary statistics.
--  min income is 0 and max is 99.960 and mean is 39.295,
-- Standard deviation of income is too high 30.469,
-- Skewed distribution.

-- min monthly premium auto is 61 while max 35.354,
-- mean is 193 while  std is 1601 shows us there is outliers.
-- Most people pay around $83, but some extreme premium values push the mean way up. we should probably investigate outliers

-- Mean: 405
-- Std Dev:293
-- Range: 0.38 to 2,893
-- Insight: Fairly symmetrical distribution — mean and median are close. Claims vary but not as wildly as the auto premium.

In [ ]:
# Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
# Generate summary statistics for categorical columns
categorical_summary = ins_df.describe(include=['object']).T  # Transpose for readability

# Display the summary
print(categorical_summary)

Most of the customer are female, education is bachelor, four door, personal  autos are top selected

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [39]:
ins_df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [57]:
# top 5 customer location --> titanic_df[["Sex"]] #by using double [] we get a Dataframe instead of a series
location_customer= ins_df['ST'].value_counts()
least_common_locations = location_customer.sort_values(ascending=True)
top_5_least_common = least_common_locations.head(5)

# Show result
print(top_5_least_common)

ST
Arizona        25
Washington     30
California    120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. 
Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [63]:
# policies types count
ins_df['Policy Type'].value_counts()

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [77]:
#the policy type with the highest number of policies sold.
top_policy_count=ins_df['Policy Type'].value_counts().max()
#idxmax() → returns the label (index) of the highest value — in this case, the most sold policy.
top_policy_type=ins_df['Policy Type'].value_counts().idxmax()

print(f"{top_policy_type} with {top_policy_count} policies sold")

Personal Auto with 780 policies sold

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [94]:
personal_auto_df = ins_df.loc[ins_df['Policy Type'] == 'Personal Auto']
corporate_auto_df = ins_df.loc[ins_df['Policy Type'] == 'Corporate Auto']

In [108]:
ave_income= personal_auto_df['Income'].mean()
ave_income_corp= corporate_auto_df['Income'].mean()
print(f'personal auto income average: {ave_income}')
print(f'corporate auto income average: {ave_income_corp}')

personal auto income average: 38180.69871794872
corporate auto income average: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [118]:
# 25 and 75% total claims
top_25 = ins_df['Total Claim Amount'].quantile(0.75)
print(top_25)
high_claims_df= ins_df[ins_df['Total Claim Amount'] > top_25]
high_claims_df.describe()

532.8

             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678